<div class="row">
	<div class="large-2 columns">
		<h1>Recip.me</h1>
	</div>
  <div class="large-9 columns">
    <ul class="button-group right">
      <li><a href="#" class="button">Meals</a></li>
      <li><a href="#" class="button">Sign Up</a></li>
      <li><a href="#" class="button">Log In</a></li>
    </ul>
  </div>
</div>
<hr/>