<div class="row">
	<div class="large-2 columns">
		<h1>Recip.me</h1>
	</div>
  <div class="large-9 columns">
    <ul class="button-group right">
      <li><%= link_to "Meals", meals_path, class: "button" %></li>
      <li><%= link_to "Week", days_path, class: "button" %></li>
      <li><%= link_to "Grocery List", lists_path, class: "button" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr/>
  </div>
</div>